.container {
  display: flex;
}

.courseContent {
  /* background-color: blue; */
  /* height: 50vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
