.container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}


@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        gap: 2rem;
        justify-content: space-evenly;
        padding: 2rem;
    }   
}
