@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap");

.container {
  display: flex;
  background: linear-gradient(90deg, #0f9ec8 0%, #22405b 100%);
  border-radius: 1.5rem;
  width: 70%;
  height: 15rem;
  cursor: pointer;
  box-shadow: 0px 5px 5px #22405b;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  gap: 2rem;
}

.courseImg {
  height: 12rem;
  margin-left: 2rem;
}

.courseImg img {
  height: 100%;
  border: 4px solid rgb(160, 189, 212);
  border-radius: 15px;
}

.courseContent {
  /* margin-left: 20rem; */
  padding: 1rem;
}

.courseHeading {
  font-size: 1.2rem;
}

.lessons {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}

.courseRating {
  display: flex;
}

.courseRating img {
  height: 1rem;
}

@media (max-width: 843px) {
  .container {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    gap: 0rem;
  }

  .courseImg {
    margin-top: 1rem;
    margin-left: 0;
  }

  .courseContent {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .courseHeading {
    font-size: 1rem;
    display: flex;
    align-self: center;
  }

  .lessons {
    font-size: 0.8rem;
    margin-top: 0.8rem;
  }
}

 @media (max-width: 401px) {
  .courseImg {
    height: 10rem;
  }
}

@media (max-width: 350px) {
  .courseImg {
    height: 8rem;
  }
}

@media (max-width: 271px) {
  .container {
    width: 75%;
  }

  .courseImg {
    height: 6rem;
  }
}
