.container {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  /* line-height: 2rem; */
}

.title {
  color: #1b8ab5;
  /* padding: 1rem; */
  display: flex;
  gap: 0.7rem;
  padding: 1rem;
}

.icon {
  /* font-size: 1.2rem; */
  transform: translate(0, 35%);
}

.heading {
  border-bottom: 2px solid #1b8ab5;
}

.player {
  position: relative;
  padding-top: 30.25%;
  /* width: 90%; */
  /* background-color: #1b8ab5; */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.navigators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.navigators a {
  text-decoration: none;
  background-color: #22405b;
  padding: 0.5rem 1rem;
  color: #ffff;
  border-radius: 5px;
}

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #8f242f;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #8f242f;
  text-align: center;
  margin-top: 1rem;
}

.loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #22405b #22405b transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #009bc9 #009bc9;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 40px;
  height: 40px;
  border-color: #22405b #22405b transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 990px) {
  .title {
    justify-content: center;
  }

  .player {
    padding-top: 50%;
  }
}

@media (max-width: 345px) {
  .title {
    font-size: 0.8rem;
  }

  .navigators {
    gap: 1rem;
  }

  .navigators a {
    padding: 0.5rem;
  }
}
