.container {
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 155, 201, 1) 100%
  ); */
  background: linear-gradient(180deg, #ffffff 0%, #3faaca 100%);
}

